# .gitignore — это "черный список" для GitHub

__pycache__/      Временные файлы Python (мусор)
*.py[cod]         Файлы с ошибками компиляции
venv/             Папка с библиотеками (тяжелая, 500+ МБ!)
.env              Файл с API ключами (украдут)
.env.local        Дополнительные настройки
.DS_Store         Служебный файл Mac (если у Mac)
Thumbs.db         Служебный файл Windows
